IfnsExporter/Protocol/Reestr-5-02.xsd

<?xml version="1.0" encoding="WINDOWS-1251" ?>
<!-- created by  Sbis 3.0 -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:sch="http://purl.oclc.org/dsdl/schematron" xmlns:usch="http://www.unisoftware.ru/schematron-extensions" xmlns:xs="http://www.w3.org/2001/XMLSchema">                                    

  <xs:element name="Ôàéë">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" name="Äîêóìåíò">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="1" name="ÑâÍÏ">
                <xs:complexType>
                  <xs:sequence>
                    <xs:choice>
                      <xs:element minOccurs="1" name="ÍÏÞË">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element maxOccurs="1" minOccurs="0" name="ÑâÐåîðãÞË">
                              <xs:complexType>
                                <xs:attribute name="ÔîðìÐåîðã" use="required">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:enumeration value="0"/>
                                      <xs:enumeration value="6"/>
                                      <xs:enumeration value="5"/>
                                      <xs:enumeration value="3"/>
                                      <xs:enumeration value="2"/>
                                      <xs:enumeration value="1"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:attribute>
                                <xs:attribute name="ÈÍÍÞË" use="optional">
                                  <xs:annotation>
                                    <xs:appinfo>
                                      <sch:pattern>
                                        <sch:rule>
                                          <sch:assert test="@ÔîðìÐåîðã = 1 or @ÔîðìÐåîðã = 2 or @ÔîðìÐåîðã = 3 or @ÔîðìÐåîðã = 5 or @ÔîðìÐåîðã = 6"/>
                                        </sch:rule>
                                      </sch:pattern>
                                    </xs:appinfo>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="10"/>
                                      <xs:maxLength value="10"/>
                                      <xs:pattern value="(([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8})"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:attribute>
                                <xs:attribute name="ÊÏÏ" use="optional">
                                  <xs:annotation>
                                    <xs:appinfo>
                                      <sch:pattern>
                                        <sch:rule>
                                          <sch:assert test="@ÔîðìÐåîðã = 1 or @ÔîðìÐåîðã = 2 or @ÔîðìÐåîðã = 3 or @ÔîðìÐåîðã = 5 or @ÔîðìÐåîðã = 6"/>
                                        </sch:rule>
                                      </sch:pattern>
                                    </xs:appinfo>
                                  </xs:annotation>
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="9"/>
                                      <xs:maxLength value="9"/>
                                      <xs:pattern value="(([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{2})([0-9A-Z]{2})([0-9]{3}))"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:attribute>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:attribute name="ÍàèìÎðã" use="required">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="1"/>
                                <xs:maxLength value="1000"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:attribute>
                          <xs:attribute name="ÈÍÍÞË" use="required">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="10"/>
                                <xs:maxLength value="10"/>
                                <xs:pattern value="(([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8})"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:attribute>
                          <xs:attribute name="ÊÏÏ" use="required">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="9"/>
                                <xs:maxLength value="9"/>
                                <xs:pattern value="(([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{2})([0-9A-Z]{2})([0-9]{3}))"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:attribute>
                        </xs:complexType>
                      </xs:element>
                      <xs:element minOccurs="1" name="ÍÏÔË">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element minOccurs="1" name="ÔÈÎ">
                              <xs:complexType>
                                <xs:attribute name="Ôàìèëèÿ" use="required">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="60"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:attribute>
                                <xs:attribute name="Èìÿ" use="required">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="60"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:attribute>
                                <xs:attribute name="Îò÷åñòâî" use="optional">
                                  <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                      <xs:minLength value="1"/>
                                      <xs:maxLength value="60"/>
                                    </xs:restriction>
                                  </xs:simpleType>
                                </xs:attribute>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:attribute name="ÈÍÍÔË" use="required">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:minLength value="12"/>
                                <xs:maxLength value="12"/>
                                <xs:pattern value="(([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10})"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:attribute>
                        </xs:complexType>
                      </xs:element>
                    </xs:choice>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="1" name="Ïîäïèñàíò">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="1" name="ÔÈÎ">
                      <xs:complexType>
                        <xs:attribute name="Ôàìèëèÿ" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="60"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Èìÿ" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="60"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="Îò÷åñòâî" use="optional">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="60"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="ÑâÏðåä">
                      <xs:annotation>
                        <xs:documentation>null</xs:documentation>
                        <xs:appinfo>
                          <sch:pattern>
                            <sch:rule>
                              <sch:assert test="@ÏðÏîäï=2"/>
                            </sch:rule>
                          </sch:pattern>
                        </xs:appinfo>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:attribute name="ÍàèìÄîê" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="120"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ÍàèìÎðã" use="optional">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="1000"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ÏðÏîäï" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="2"/>
                        <xs:enumeration value="1"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="Òëô" use="optional">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="1"/>
                        <xs:maxLength value="20"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element maxOccurs="unbounded" minOccurs="1" name="ÐååñòðÄîêÏÎáÍË">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="1" name="ÑâåäÂèäÎïåð">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" minOccurs="1" name="ÏðåäÒèïÄîã">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element maxOccurs="unbounded" minOccurs="1" name="ÑâåäÊÀãåíò">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:choice>
                                        <xs:element minOccurs="1" name="ÑâåäÎðã">
                                          <xs:complexType>
                                            <xs:attribute name="ÍàèìÎðã" use="required">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:minLength value="1"/>
                                                  <xs:maxLength value="1000"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:attribute>
                                            <xs:attribute name="ÈÍÍÞË" use="optional">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:minLength value="10"/>
                                                  <xs:maxLength value="10"/>
                                                  <xs:pattern value="(([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{8})"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:attribute>
                                            <xs:attribute name="ÊÏÏ" use="optional">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:minLength value="9"/>
                                                  <xs:maxLength value="9"/>
                                                  <xs:pattern value="(([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})([0-9]{2})([0-9A-Z]{2})([0-9]{3}))"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:attribute>
                                          </xs:complexType>
                                        </xs:element>
                                        <xs:element minOccurs="1" name="ÑâåäÔË">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element minOccurs="1" name="ÔÈÎ">
                                                <xs:complexType>
                                                  <xs:attribute name="Ôàìèëèÿ" use="required">
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:minLength value="1"/>
                                                        <xs:maxLength value="60"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:attribute>
                                                  <xs:attribute name="Èìÿ" use="required">
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:minLength value="1"/>
                                                        <xs:maxLength value="60"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:attribute>
                                                  <xs:attribute name="Îò÷åñòâî" use="optional">
                                                    <xs:simpleType>
                                                      <xs:restriction base="xs:string">
                                                        <xs:minLength value="1"/>
                                                        <xs:maxLength value="60"/>
                                                      </xs:restriction>
                                                    </xs:simpleType>
                                                  </xs:attribute>
                                                </xs:complexType>
                                              </xs:element>
                                            </xs:sequence>
                                            <xs:attribute name="ÈÍÍÔË" use="optional">
                                              <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                  <xs:minLength value="12"/>
                                                  <xs:maxLength value="12"/>
                                                  <xs:pattern value="(([0-9]{1}[1-9]{1}|[1-9]{1}[0-9]{1})[0-9]{10})"/>
                                                </xs:restriction>
                                              </xs:simpleType>
                                            </xs:attribute>
                                          </xs:complexType>
                                        </xs:element>
                                      </xs:choice>
                                      <xs:element maxOccurs="unbounded" minOccurs="1" name="ÄîêÏÎáÍË">
                                        <xs:complexType>
                                          <xs:attribute name="ÂèäÄîê" use="required">
                                            <xs:simpleType>
                                              <xs:restriction base="xs:string">
                                                <xs:minLength value="1"/>
                                                <xs:maxLength value="40"/>
                                              </xs:restriction>
                                            </xs:simpleType>
                                          </xs:attribute>
                                          <xs:attribute name="ÍîìÄîê" use="required">
                                            <xs:simpleType>
                                              <xs:restriction base="xs:string">
                                                <xs:minLength value="1"/>
                                                <xs:maxLength value="20"/>
                                              </xs:restriction>
                                            </xs:simpleType>
                                          </xs:attribute>
                                          <xs:attribute name="ÄàòàÄîê" use="required">
                                            <xs:simpleType>
                                              <xs:restriction base="xs:string">
                                                <xs:maxLength value="10"/>
                                                <xs:minLength value="10"/>
                                                <xs:pattern value="[0-9\-\.]{4,10}"/>
                                              </xs:restriction>
                                            </xs:simpleType>
                                          </xs:attribute>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="ÎáùÑòÒîâ" use="required">
                                      <xs:simpleType>
                                        <xs:restriction base="xs:decimal">
                                          <xs:totalDigits value="17"/>
                                          <xs:fractionDigits value="2"/>
                                        </xs:restriction>
                                      </xs:simpleType>
                                    </xs:attribute>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="ÍîìÒèïÄîã" use="required">
                                <xs:simpleType>
                                  <xs:restriction base="xs:integer">
                                    <xs:totalDigits value="10"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                              <xs:attribute name="ÈìÿÔàéëÄîã" use="optional">
                                <xs:simpleType>
                                  <xs:restriction base="xs:string">
                                    <xs:minLength value="1"/>
                                    <xs:maxLength value="255"/>
                                  </xs:restriction>
                                </xs:simpleType>
                              </xs:attribute>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="ÍîìÑâÂèäÎï" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:integer">
                              <xs:totalDigits value="10"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ÂèäÎïåð" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:string">
                              <xs:minLength value="1"/>
                              <xs:maxLength value="40"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                        <xs:attribute name="ÎáùÑòÍåîáëÎï" use="required">
                          <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                              <xs:totalDigits value="17"/>
                              <xs:fractionDigits value="2"/>
                            </xs:restriction>
                          </xs:simpleType>
                        </xs:attribute>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="ÍîìÐååñòð" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:integer">
                        <xs:totalDigits value="10"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ÊîäÎïåð" use="required">
                    <xs:annotation>
                      <xs:appinfo>
                        <sch:pattern>
                          <sch:rule>
                            <sch:assert test="@ÊîäÎïåð != '1010201'">
                              <usch:error>0001.600.134.15</usch:error>
                            </sch:assert>
                          </sch:rule>
                        </sch:pattern>
                      </xs:appinfo>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:minLength value="7"/>
                        <xs:maxLength value="7"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ÎáùÑòÍåîáëÎïÂñ" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="17"/>
                        <xs:fractionDigits value="2"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="ÎáùÑòÒîâÂñ" use="required">
                    <xs:simpleType>
                      <xs:restriction base="xs:decimal">
                        <xs:totalDigits value="17"/>
                        <xs:fractionDigits value="2"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="ÈìÿÔàéëÒðåá" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="255"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="ÊÍÄ" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="7"/>
                  <xs:maxLength value="7"/>
                  <xs:pattern value="([0-9]{7})"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="ÄàòàÄîê" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="10"/>
                  <xs:minLength value="10"/>
                  <xs:pattern value="[0-9\-\.]{4,10}"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="ÊîäÍÎ" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:minLength value="4"/>
                  <xs:maxLength value="4"/>
                  <xs:pattern value="([0-9]{4})"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Ïåðèîä" use="optional">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="56"/>
                  <xs:enumeration value="55"/>
                  <xs:enumeration value="54"/>
                  <xs:enumeration value="51"/>
                  <xs:enumeration value="24"/>
                  <xs:enumeration value="23"/>
                  <xs:enumeration value="22"/>
                  <xs:enumeration value="21"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="Îò÷åòÃîä" use="optional">
              <xs:simpleType>
                <xs:restriction base="xs:string"/>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="ÍîìÊîðð" use="optional">
              <xs:simpleType>
                <xs:restriction base="xs:integer">
                  <xs:totalDigits value="3"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="ÈäÔàéë" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="255"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ÂåðñÏðîã" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="40"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="ÂåðñÔîðì" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="5"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

</xs:schema>
